@{
    ViewData["Title"] = "Home Page";
}

<h1>With Attribute</h1>
<form id="formOne" method="post" action="@Url.Action("WithAttribute")">
    <h2>Recaptcha V2 Sample</h2>
    <recaptchaV2 is-form="true"></recaptchaV2>
    <input type="submit" value="Gönder" />
</form>

<hr />

<form id="formTwo" method="post" action="@Url.Action("WithAttribute")">
    <h2>Recaptcha V3 Sample</h2>
    <recaptchaV3Button data-callback="onSubmit" data-action="submit">Gönder</recaptchaV3Button>
</form>
<hr />
<h1>Without Attribute</h1>
<form id="formThree" method="post" action="@Url.Action("WithoutAttribute")">
    <h2>Recaptcha V2 Sample</h2>
    <recaptchaV2 is-form="true"></recaptchaV2>
    <input type="submit" value="Gönder" />
</form>

<hr />

<form id="formFour" method="post" action="@Url.Action("WithoutAttribute")">
    <h2>Recaptcha V3 Sample</h2>
    <recaptchaV3Button data-callback="onSubmitF4" data-action="submit">Gönder</recaptchaV3Button>
</form>

<hr />


<h1>Model State Errors</h1>
@Html.ValidationSummary()

@section Scripts{

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            var formTwo = document.getElementById("formTwo");
            formTwo.submit();
        }

        function onSubmitF4(token) {
            var formFour = document.getElementById("formFour");
            formFour.submit();
        }
    </script>
}